*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  background-color: rgb(145, 135, 135);
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60vw;
  height: 96vh;
  /* background-color: rgb(49, 49, 49); */
  margin: 0 auto;
  margin-top: 2vh;
  position: relative;
  overflow: hidden;
  border-radius: 2%;
}
.overflow{
  width: 100%;
  height: 70%;
  /* background-color: rgb(100, 255, 126); */
  border-radius: 2%;
  overflow: hidden;
  position: relative;
}
.slider{
  /* width: auto; */
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease-in-out;
  text-align: center;
  width: 400%;
  
}
.controlsText{
  width: 100%;
  height: 25%;
  /* background-color: rgb(115, 100, 255); */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input{
  display: none;
  }
.overflowText{
  height: 100%;
  width: 70%;
  overflow: hidden;
  position: relative;
  }
.text{
  /* background-color: rgb(62, 8, 255); */
  width: 400%;
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.sentence{
  width: 100%;
  height: 100%;
  font-size: 3em;
  float: left;
}
.controls{
  /* background-color: rgb(251, 255, 8); */
  height: 100%;
  width: 30%;
}
.slides{
  width: 100%;
  float:left;
}
.slides img{
  width: 100%;
  object-fit: contain;
  border-radius: 2%;
  /* object-fit: cover; */
}
#slide1:checked ~ .overflow #slider, #slide1:checked ~ .controlsText .overflowText #text {
  margin-left: 0%;
}
#slide2:checked ~ .overflow #slider, #slide2:checked ~ .controlsText .overflowText #text {
  margin-left: -100%;
}
#slide3:checked ~ .overflow .slider, #slide3:checked ~ .controlsText .overflowText #text {
  margin-left: -200%;
}
#slide4:checked ~ .overflow .slider, #slide4:checked ~ .controlsText .overflowText #text {
  margin-left: -300%;
}

label{
  height: 80px;
  width: 80px;
  display: inline-block;
  border-radius: 50%;
  background-color:rgb(72, 212, 255);
  cursor: pointer;
  /* margin-left: 30px; */
  border: solid 25px rgb(145, 135, 135);
}
/* label:hover{
  background-color: rgb(255, 255, 255);
} */
#slide1:checked ~ .controlsText label:nth-child(1),
#slide2:checked ~ .controlsText label:nth-child(2),
#slide3:checked ~ .controlsText label:nth-child(3),
#slide4:checked ~ .controlsText label:nth-child(4){
  background-color: rgb(0, 0, 0);
} 
label:hover{
  background-color: rgb(255, 255, 255);
}
label:active{
  opacity: 0.5;
}
#slide1:checked ~ .controlsText label:nth-child(1):hover,
#slide2:checked ~ .controlsText label:nth-child(2):hover,
#slide3:checked ~ .controlsText label:nth-child(3):hover,
#slide4:checked ~ .controlsText label:nth-child(4):hover{
  background-color: rgb(255, 255, 255);
} 