*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  height: 80vh;
  background-color: rgb(49, 49, 49);
  margin: 0 auto;
  margin-top: 5%;
  position: relative;
  
}
.slider{
  width: 100%;
  height: 70%;
  background-color: rgb(100, 255, 126);
  overflow: hidden;
  position: relative;
}
.cotnrolsText{
  width: 100%;
  height: 25%;
  background-color: rgb(115, 100, 255);
  position: relative;
}
input{
  display: none;
  }
